<h1><%= t('.title') %></h1>

<%= form_with(scope: :session, url: sessions_path, loval: true) do |f| %>
    <div class="form-group">
        <%= f.label :email, t('activerecord.attributes.user.email'), class:"control-label" %>
        <%= f.email_field :email, class:"form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password, t('activerecord.attributes.user.password'), class:"control-label" %>
        <%= f.password_field :password, class:"form-control" %>
    </div>

    <div class = "text-right">
        <%= f.submit "ログイン", id: "create-session",class:"btn btn-primary"  %>
    </div>
<% end %>