<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class:"control-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, class:"control-label" %>
    <%= form.text_area :content, class:"form-control",type:"text" %>
  </div>

  <div class="form-group">
    <%= form.label :deadline_on, class:"control-label" %>
    <%= form.date_field :deadline_on, class:"form-control",type:"date" %>
  </div>

  <div class="form-group">
    <%= form.label :priority, class:"control-label" %>
    <%= form.select :priority, Task.priorities.keys.to_a, { include_blank: "" }, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status, class:"control-label" %>
    <%= form.select :status, Task.statuses.keys.to_a, { include_blank: "" }, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "ラベル", class:"control-label" %>
    <div>
      <%= form.collection_check_boxes(:label_ids, Label.where(user: current_user), :id, :name) %>
    </div>
  </div>

  <div class = "text-right">
    <%= form.submit id:"create-task",class:"btn btn-primary" %>
  </div>
<% end %>
